#copyright
  %p
    = link_to "Copyright", "/categories/1-portraits/albums/37-copyrite-statement"
    1965-2013 &copy; Elsa Dorfman
  %p
    Established as Elsa's Cyberjournal in 1995
  %p
    = link_to "Give a yell", "mailto:elsad@comcast.net"
    for anything else. Or, holler at
    = link_to "Ben Fenton", "http://www.benjaminfenton.com"
   
