#copyright
  %p
    = link_to "Copyright", "#copyright"
    1970-2013 &copy; Elsa Dorfman
  %p
    Established as Elsa's Cyberjournal in 1995
  %p
    = link_to "Give a yell", "mailto:elsad@comcast.net"
    for anything else.
