- title "About Elsa's studio and the Polaroid 20x24"

#about-camera
  %h2 The Camera
  %ol
    %li
      %span.text There are six cameras: in Polaroid studios in New York City and Prague, in the Calument Photo Store, in Berkeley, CA, at the Rowland Foundation in Cambridge, MA., and my studio in Cambridge, MA. One camera rotates among several colleges as part of the Polaroid Corporation College Program.
  
    %li
      %span.text I rent Camera #4 from the Polaroid Corporation. I have been using the camera since 1980, at Polaroid Studios and have been renting #4 in my own studio at 955 Mass Ave., Cambridge, MA since 1987.
  
    %li
      %span.text I use Polaroid Polacolor ER instant color film. ASA 80. There is another color film and black and white film, but I don't use either of them. I stick w/ the film I know!!!
  
    %li
      %span.text The camera is 25.2" wide and 40.94" long and 59.06" high. There is a crank to raise and lower it. It is actually a simple box, with a hole in the front for the lense and a Polaroid film processor built into the back door. It isn't as complicated as modern 35mm cameras I am sure. There is a tray for pods which hold the chemicals. Each exposure has its own pod. I have been told by clients who are engineers that the pod mechanism of the Polaroid camera is one of the 7 wonders of the world!! It is amazing that the pod opens up by the force of the rollers and spreads evenly to transfer the image from the negative to the positive.
  
    %li
      %span.text The camera weighs about 200 lbs. It has a presence, because of the bellows, the bulk, its height. Its gravitas.
  
    %li
      %span.text I use only one lense w/ the camera. Made in Chicago, it is 600 mm, f 11.0. The closest I can get is about 10" below the chin. Occassionally, at the Polaroid studio at the Mass College of Art I have used a close-up lens.
  
    %li
      %span.text The Camera is mounted on a mobile frame, sort of like a supermarket wagon frame. It is very hard to move the camera in a straight line, because the wheels like to zig and zag. The camera can be raised and lowered or tilted forwards and backwards. The camera tilts with a simple ratchet, probably from Sears. The bellows can go out about 150 cm, but it is VERY hard to focus when they are that far out because the focusing screen gets very dark. A simple tape measure from the hardware store measures how far out the bellows are going.
  
    %li
      %span.text To see the image, I look through a fresnel plate with a transparent strip down the middle. Everything is upside down and backwards. In Camera #4 which I lease from Polaroid there is an amusing detail: the fresnel screen is held in the camera by pieces of metal in the shape of rabbit ears (perhaps a sly reference to Playboy magazine, which was VERY popular around the time the camera was built).
  
    %li
      %span.text I usually let the film develop for 70 sec. before peeling it apart. There is a digital timer on the side of the camera. I decide how long to let the film develop, depending on the temperature in my studio, and the characteristics of the particular case of film. Every case of film has its own personality!
  
    %li
      %span.text A case of film includes a roll of negative, three rolls of positive (because the positive is thicker than the negative) and 39 pods. I cut my prints to about 40" long and trim them to 36" long. Other people can get as many as 45 exposures from a case of film by cutting the exposure very short.
  
    %li
      %span.text I use Broncolor strobes because I was told they are very good for non-technical people like myself. (see Philip Greenspun's section on Studio Lighting for a description of the studio and the lights we share.)
  
    %li
      %span.text The negative goes up and down with a string and piece of doublebacked sticky tape!! Totally un high-tech.
  
    %li
      %span.text The film comes out of the BOTTOM of the camera. I always feel I am delivering a baby or praying to a cameragod because I pull the film out on my knees. The pod end comes out first.
  
    %li
      %span.text I operate the camera myself these days. For the first seven years that I used the camera, I worked w/ fabulous technicians, notably John Reuter (an artist and now head of the Polaroid New York, Tracy Storer, (now head of the studio at Calumet Photo in Berkeley, CA), and Eric Harrington , now a framer and conservator.
  
    %li
      %span.text When the camera breaks, I start to pray. I call a cadre of people who used to work at Polaroid and are now retired, and I call toolmakers and technicians that I now know.
  
    %li
      %span.text I love the camera and its history. I love the fact that so many people who worked camera are still devoted to it. I love the fact that it is quirky and unpredictable and seems to have its own soul.
  
  %h2 The Studio
  %ol
    %li
      %span.text I share my studio with photo maven, Philip Greenspun. The ceiling rods and second seamless are his innovation. So is the radio!!!
  
    %li
      %span.text I collect wild chairs and benches for people to sit on. One of the most popular is the bench Alex and Philip are sitting on for the cover shot for their book, Philip and Alex's Guide to Web Publishing. I have used that bench in MANY successful portraits and even once got an email inquiring where I bought the bench ( in 1995 from Neal Beckerman who used to have a shop in Brookline Village, MA, but now operates in Maine).
  
    %li
      %span.text I use 12' white Superior Seamless. Amazingly, I can't use Savage Seamless because the core is a millimeter too thick for the stainless steel poles of my hanging set up.
  
    %li
      %span.text The studio is divided into two rooms: one room is the camera room. The second room is a sort of gallery/playroom/chair room with a blue carpet on the floor and replica prints of my portraits on the walls. I also have a fabulous neon sign w/ my name, made by Neonwilliams, Allston, MA, on the wall.
  
    %li
      %span.text The camera room is about 15' wide and about 24' long. Barely wide enough and long enough, but it works. When I have a large crowd, say 24 people, I have to move the camera almost out the door.
  
    %li
      %span.text On the floor of the camera room I have marked w/ magic marker on the industrial tiles where the camera wheels should be for groups of 2, 10, 20. I need all the little aids I can come up with!