- title 'Control Panel'

#control_panel
  %h2 Albums
  .section
    %ul
      %li= link_to 'List albums', albums_path
      %li= link_to 'Create new album', new_album_path
      %li= link_to 'View Pages', pages_path