- title "Watching Allen Ginsberg Being Auctioned Off at Sotheby's"
#ginsburge_on_sale
  %p The catalogue came on the morning of Yom Kippur.  I had already lit candles for Allen, Bruce Cratsley, my mother and my father.  It was a beautiful day.   I was going to think about the past year and the coming year alone in the house and in my garden.
  
  %p What I did do is sit on the couch in the living room, the couch we call the Allen couch because Allen slept on the couch and stayed in the living room for many days when he visited his Boston doctors.  I curled up with the catalogue that Bill Morgan had spent a year putting together.
  
  %p I recognized so much of the stuff. In fact, it was the familiarity  that threw me off .  It was like looking at the catalogue, if there had been one, of my mother's yard sale when she moved from Newton to Cape Cod.  Actually, I couldn't bear to go to my mother's yard sale.  I couldn't bear to see all the things she had loved with little price tags, selling for a tenth of what she had paid for them.  It wasn't the price, it was the selling. It was the letting go.  I remembered the chase, the finding, the saving for, the story of each item.
  
  %p I missed Allen. I missed Bruce Cratsley. I missed my mother and father.  And  it was Yom Kippur.  I was mesmerized by  Bill Morgan's catalogue.   I knew it was a Buddhist thing: don't be attached to this world.
  
  %p The auction week started off with a poetry reading on Sunday evening at Sotheby's. Ed Sanders, Lawrence Ferlinghetti, Lauri Anderson, Paul Simon read Allen's poems. Philip Glass was there. Ann Douglas. Andrew Wylie.  There was wine and hor d'oeuves.  Bob Rosenthal and Bill Morgan led small groups through the possessions, explaining what things were, what they meant to Allen, why they were on sale. . I wanted Allen to show up. I wanted him to see us giddy, missing him.
  
  %p I knew that Allen would have loved the reading, the chairs set in rows surrounded by his worldly goods..  He would have loved that all his friends showed up. He would have been pleased that Bob Rosenthal's sons, Ali and Isaac, my son Isaac Silverglate, my nephew Matt Power, Robert Creeley's son Will, young men who thought of Allen as an uncle, were all there. That his brother Eugene and sister-in-law Connie were there.    That  his friends and even strangers  were pawing over his stuff.  His Mont Blanc pens. His wallet. His tee shirt collection. Even his shoes. He would have been proud seeing all the pieces of art that his friends had given him ("gifted him" was the term Bill Morgan, Bob Rosenthal and the Sotheby's staff used).  He would have loved the class that Sotheby's exuded.  He would have loved that on the floors below were master photographs ready to be auctioned the same week.
  
  %p A lot of the people at the auction on Thursday  had never been to an auction before, including me and my husband Harvey Silverglate.  We had no idea how the auction would proceed.  There was a phalanx of experienced buyers in suits and people taking bids over the phone.  It took only minutes to slip from nostalgia and affection to thinking about MONEY.  How much would Kerouac's Horace Mann letter bring in?  How much would a first edition of Howl bring in? Who was that bidding on Allen's desk?? How high was it going to go?  Whaaaat.
  
  %p My son Isaac Silverglate thought it was ironic that the young Allen who wrote the masterpieces Howl and Kaddish and made Allen Allen would have been horrified by the Sotheby's scene and the money changing, but that the elder Allen, the Allen at fifty-five, sixty, seventy, the Allen who complained but loved celebrity and celebrities,  would have dug it. My nephew Matthew Power couldn't bring himself to come; Will Creeley decided to pass.
  
  %p There was a finality to the auction. How could there possibly be another memorial event?  The loft was empty. Allen's things had been dispersed to people who really wanted them.  Allen hadn't shown up.
  
  %p Ten of my portraits of Allen Ginsberg were part of an auction of Allen Ginsberg material at Sotheby's on October 7, 1999:
  
  %ol
    %li
      %span.text Allen and Louis Ginsberg in Paterson, ca.1969
    %li
      %span.text Allen Ginsberg on a Late Evening, ca. 1968
    %li
      %span.text At Eliot House, Harvard, ca.1968
    %li
      %span.text Cherry Valley: portrait of Allen Ginsberg and Ed Urich, July 1970
    %li
      %span.text Allen, November 6, 1986 (taken on the Polaroid 40x80)
    %li
      %span.text The Music Lesson, Lowell, MA. November 2, 1975 (Bob Dylan and Allen Ginsberg)
    %li
      %span.text Allen, February 7, 1980
    %li
      %span.text Allen, Probably March 28, 1983
    %li
      %span.text Allen Ginsberg and Peter Orlovsky (nude portrait)
    %li
      %span.text Allen Ginsberg and Peter Orlovsky playing guitar and singing.
    %li
      %span.text Read what I wrote about seeing Allen's possessions on the block.
    %li
      %span.text Read Matthew Power's essay, "Holy Soul" in the first issue of Heeb Magazine. It's wonderful.
  
  %p See Allen Ginsberg in Elsa's Housebook (short essays and portraits); see a movie of Allen Ginsberg in At Home: Elsa Dorfman, a movie by Ilene H. Lang; see When We Honored Allen in Cambridge, which includes many more photographs; send postcards of Allen Ginsberg here.