= render_cell :navigation, :subway_map

#home.page
  - if @page
    .section
      %p
        :markdown
          #{raw(@page.content)}
  
  .disclaimer
    If you see a picture of yourself on this page, and you do not want it to be here,
    = mail_to "elsad@comcast.net", "contact Elsa immediately."
        
  
  
