= render_cell :navigation, :subway_map

#home.page
  - if @page
    .section
      %p
        :markdown
          #{raw(@page.content)}
  
  .disclaimer
    If you see a picture of yourself on this page, and you do not want it to be here,
    = mail_to "elsad@comcast.net", "contact Elsa immediately."
        
  .section.footer
    %span.copyright Copyright 1970-2013 © Elsa Dorfman. 
    %br/ 
    %span.copyright Established as Elsa's Cyberjournal in 1995
    
  
