/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ------ Flash Notices ------ */
/* line 16, ../../../app/stylesheets/application.scss */
#flash_notice {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
  display: relative;
  background-color: #CFC;
  border: white dotted 3px;
  width: 95%;
  margin: 20px 0px;
}

/* line 26, ../../../app/stylesheets/application.scss */
#flash_error, #flash_alert {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
  background-color: #FCC;
  border: red dotted 3px;
  width: 95%;
  margin: 20px 0px;
}

/* line 35, ../../../app/stylesheets/application.scss */
.fieldWithErrors {
  display: inline;
}

/* line 39, ../../../app/stylesheets/application.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px 0px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 48, ../../../app/stylesheets/application.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: red;
}
/* line 57, ../../../app/stylesheets/application.scss */
.error_messages p {
  margin: 8px 10px;
}
/* line 58, ../../../app/stylesheets/application.scss */
.error_messages ul {
  margin: 0;
}

/* ------ Primary Content ------ */
/* line 64, ../../../app/stylesheets/application.scss */
body {
  font-family: 'ITC Kabel W01 Book', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
  margin: 0 auto;
}

/* line 73, ../../../app/stylesheets/application.scss */
#wrap {
  margin: 20px auto;
  width: 1100px;
}

/* line 80, ../../../app/stylesheets/application.scss */
#main {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  float: left;
  background: url(/images/shared/20x24_sketch_ghosted.png) no-repeat 70px 150px;
  min-height: 850px;
  height: auto !important;
  height: 850px;
}

/* line 90, ../../../app/stylesheets/application.scss */
#main2 {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  float: left;
  background: url(/images/shared/20x24_sketch_ghosted2.png) no-repeat 70px 150px;
  min-height: 850px;
  height: auto !important;
  height: 850px;
}

/* line 103, ../../../app/stylesheets/application.scss */
#legacywrapper {
  position: relative;
  display: inline-block;
  width: 650px;
}
/* line 107, ../../../app/stylesheets/application.scss */
#legacywrapper #mail-list-link {
  float: left;
  margin-right: 15px;
}
/* line 112, ../../../app/stylesheets/application.scss */
#legacywrapper #donate-link {
  float: right;
}

/* line 117, ../../../app/stylesheets/application.scss */
#content {
  zoom: 1;
  position: relative;
  display: block;
  behavior: url(/stylesheets/border-radius.htc);
  border-radius: 5px;
  border: 1px solid silver;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 850px;
  height: auto !important;
  height: 850px;
}
/* line 129, ../../../app/stylesheets/application.scss */
#content #primary-nav {
  /*    #tab-base.portraits   { background-color: #CC0000; }*/
  /*    #tab-base.essays      { background-color: darkgreen; }*/
  /*    #tab-base.no_hair_day { background-color: #336699; }*/
  /*    #tab-base.ginsberg    { background-color: darkorange; }*/
  /*    #tab-base.friends     { background-color: lightgrey; }*/
  /*    #tab-base.analog    { background-color: purple; }*/
}
/* line 130, ../../../app/stylesheets/application.scss */
#content #primary-nav .tab {
  width: 108px;
  height: 40px;
  float: left;
  text-align: center;
}
/* line 137, ../../../app/stylesheets/application.scss */
#content #primary-nav .portraits {
  background: url(/images/shared/tabs/portraits_tab.png) no-repeat;
}
/* line 140, ../../../app/stylesheets/application.scss */
#content #primary-nav .essays {
  background: url(/images/shared/tabs/essays_tab.png) no-repeat;
}
/* line 143, ../../../app/stylesheets/application.scss */
#content #primary-nav .no_hair_day {
  background: url(/images/shared/tabs/no_hair_day_tab.png) no-repeat;
}
/* line 146, ../../../app/stylesheets/application.scss */
#content #primary-nav .ginsberg {
  background: url(/images/shared/tabs/ginsberg_tab.png) no-repeat;
}
/* line 149, ../../../app/stylesheets/application.scss */
#content #primary-nav .friends {
  background: url(/images/shared/tabs/friends_tab.png) no-repeat;
}
/* line 152, ../../../app/stylesheets/application.scss */
#content #primary-nav .analog {
  background: url(/images/shared/tabs/commutes_tab.png) no-repeat;
}
/* line 156, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base {
  height: 10px;
  background-color: black;
  background: none;
  clear: both;
}
/* line 162, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.uncategorized {
  height: 2px;
  background-color: #000;
}
/* line 164, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.portraits {
  background-color: #FF0033;
}
/* line 166, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.essays {
  background-color: #006939;
}
/* line 168, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.no_hair_day {
  background-color: #2C7DAF;
}
/* line 170, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.ginsberg {
  background-color: #FF9933;
}
/* line 172, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.friends {
  background-color: #BCBCBC;
}
/* line 174, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.analog {
  background-color: #8F418C;
}

/* line 178, ../../../app/stylesheets/application.scss */
#category_nav {
  padding-top: 15px;
}
/* line 181, ../../../app/stylesheets/application.scss */
#category_nav #line {
  position: absolute;
  height: 200px;
  width: 150px;
  margin-left: 10px;
  z-index: -1;
}
/* line 190, ../../../app/stylesheets/application.scss */
#category_nav ul {
  padding-top: 100px;
}
/* line 195, ../../../app/stylesheets/application.scss */
#category_nav li {
  height: 47px;
  width: 130px;
  padding-left: 25px;
  margin-left: 10px;
}
/* line 201, ../../../app/stylesheets/application.scss */
#category_nav li a {
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
  /* IE8 */
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 12px;
  text-decoration: none;
  padding-left: 4px;
  -webkit-transform-origin: left center;
  -webkit-transform: translatex(3px) translatey(30px) rotate(-45deg);
  -moz-transform-origin: left center;
  -moz-transform: translatex(3px) translatey(30px) rotate(-45deg);
  display: block;
}
/* line 216, ../../../app/stylesheets/application.scss */
#category_nav li a.selected {
  border: solid 1px black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 229, ../../../app/stylesheets/application.scss */
#category_nav.portraits #line {
  background: url(/images/shared/line/bg_red.png) repeat-y;
  margin-left: 34px;
}
/* line 230, ../../../app/stylesheets/application.scss */
#category_nav.portraits ul {
  background: url(/images/shared/line/top_bulb_red.png) no-repeat;
}
/* line 231, ../../../app/stylesheets/application.scss */
#category_nav.portraits li {
  background: url(/images/shared/line/portraits.png) no-repeat;
  margin-left: 34px;
}
/* line 234, ../../../app/stylesheets/application.scss */
#category_nav.portraits li:hover {
  background: url(/images/shared/line/portraits.png) 0 -47px no-repeat;
}
/* line 236, ../../../app/stylesheets/application.scss */
#category_nav.portraits:after {
  display: block;
  content: "";
  background: url(/images/shared/line/base.png) no-repeat;
  width: 55px;
  height: 167px;
  margin-left: 18px;
}

/* line 247, ../../../app/stylesheets/application.scss */
#category_nav.essays #line {
  background: url(/images/shared/line/bg_green.png) repeat-y;
  margin-left: 23px;
}
/* line 248, ../../../app/stylesheets/application.scss */
#category_nav.essays ul {
  background: url(/images/shared/line/top_bulb_green.png) no-repeat;
}
/* line 249, ../../../app/stylesheets/application.scss */
#category_nav.essays li {
  background: url(/images/shared/line/essays.png) no-repeat;
  margin-left: 23px;
}
/* line 252, ../../../app/stylesheets/application.scss */
#category_nav.essays li:hover {
  background: url(/images/shared/line/essays.png) 0 -47px no-repeat;
}
/* line 255, ../../../app/stylesheets/application.scss */
#category_nav.essays:after {
  display: block;
  content: "";
  background: url(/images/shared/line/base.png) no-repeat;
  width: 55px;
  height: 167px;
  margin-left: 7px;
}

/* line 266, ../../../app/stylesheets/application.scss */
#category_nav.no_hair_day #line {
  background: url(/images/shared/line/bg_blue.png) repeat-y;
  margin-left: 40px;
}
/* line 267, ../../../app/stylesheets/application.scss */
#category_nav.no_hair_day ul {
  background: url(/images/shared/line/top_bulb_blue.png) no-repeat;
}
/* line 268, ../../../app/stylesheets/application.scss */
#category_nav.no_hair_day li {
  background: url(/images/shared/line/no_hair_day.png) repeat-y;
  margin-left: 40px;
}
/* line 271, ../../../app/stylesheets/application.scss */
#category_nav.no_hair_day li:hover {
  background: url(/images/shared/line/no_hair_day.png) 0 -47px no-repeat;
}
/* line 273, ../../../app/stylesheets/application.scss */
#category_nav.no_hair_day:after {
  display: block;
  content: "";
  background: url(/images/shared/line/base.png) no-repeat;
  width: 55px;
  height: 167px;
  margin-left: 23px;
}

/* line 284, ../../../app/stylesheets/application.scss */
#category_nav.ginsberg #line {
  background: url(/images/shared/line/bg_orange.png) repeat-y;
  margin-left: 33px;
}
/* line 285, ../../../app/stylesheets/application.scss */
#category_nav.ginsberg ul {
  background: url(/images/shared/line/top_bulb_orange.png) no-repeat;
}
/* line 286, ../../../app/stylesheets/application.scss */
#category_nav.ginsberg li {
  background: url(/images/shared/line/ginsberg.png) repeat-y;
  margin-left: 33px;
}
/* line 289, ../../../app/stylesheets/application.scss */
#category_nav.ginsberg li:hover {
  background: url(/images/shared/line/ginsberg.png) 0 -47px no-repeat;
}
/* line 291, ../../../app/stylesheets/application.scss */
#category_nav.ginsberg:after {
  display: block;
  content: "";
  background: url(/images/shared/line/base.png) no-repeat;
  width: 55px;
  height: 167px;
  margin-left: 17px;
}

/* line 302, ../../../app/stylesheets/application.scss */
#category_nav.friends #line {
  background: url(/images/shared/line/bg_silver.png) repeat-y;
  margin-left: 27px;
}
/* line 303, ../../../app/stylesheets/application.scss */
#category_nav.friends ul {
  background: url(/images/shared/line/top_bulb_silver.png) no-repeat;
}
/* line 304, ../../../app/stylesheets/application.scss */
#category_nav.friends li {
  background: url(/images/shared/line/friends.png) repeat-y;
  margin-left: 27px;
}
/* line 307, ../../../app/stylesheets/application.scss */
#category_nav.friends li:hover {
  background: url(/images/shared/line/friends.png) 0 -47px no-repeat;
}
/* line 309, ../../../app/stylesheets/application.scss */
#category_nav.friends:after {
  display: block;
  content: "";
  background: url(/images/shared/line/base.png) no-repeat;
  width: 55px;
  height: 167px;
  margin-left: 11px;
}

/* line 320, ../../../app/stylesheets/application.scss */
#category_nav.analog #line {
  background: url(/images/shared/line/bg_purple.png) repeat-y;
  margin-left: 28px;
}
/* line 321, ../../../app/stylesheets/application.scss */
#category_nav.analog ul {
  background: url(/images/shared/line/top_bulb_purple.png) no-repeat;
}
/* line 322, ../../../app/stylesheets/application.scss */
#category_nav.analog li {
  background: url(/images/shared/line/commutes.png) repeat-y;
  margin-left: 28px;
}
/* line 325, ../../../app/stylesheets/application.scss */
#category_nav.analog li:hover {
  background: url(/images/shared/line/commutes.png) 0 -47px no-repeat;
}
/* line 327, ../../../app/stylesheets/application.scss */
#category_nav.analog:after {
  display: block;
  content: "";
  background: url(/images/shared/line/base.png) no-repeat;
  width: 55px;
  height: 167px;
  margin-left: 12px;
}

/*#category_nav.no_hair_day li { background: url(/images/shared/line/no_hair_day.png) repeat-y; }
#category_nav.ginsberg li    { background: url(/images/shared/line/ginsberg.png) repeat-y; }
#category_nav.friends li     { background: url(/images/shared/line/friends.png) repeat-y; }
#category_nav.analog li    { background: url(/images/shared/line/commutes.png) repeat-y; }*/
/*#category_nav.portraits   { background: url(/images/shared/line/portraits.png) repeat-y; }
#category_nav.essays      { background: url(/images/shared/line/essays.png) repeat-y; }
#category_nav.no_hair_day { background: url(/images/shared/line/no_hair_day.png) repeat-y; }
#category_nav.ginsberg    { background: url(/images/shared/line/ginsberg.png) repeat-y; }
#category_nav.friends     { background: url(/images/shared/line/friends.png) repeat-y; }
#category_nav.commutes    { background: url(/images/shared/line/commutes.png) repeat-y; }*/
/* line 349, ../../../app/stylesheets/application.scss */
h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 0.6em 0px;
  line-height: 1em;
  font-family: 'Neuland W01 Black';
}

/* line 358, ../../../app/stylesheets/application.scss */
h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 0.4em 0px;
  color: #666;
  font-family: 'ITC Kabel W01 Bold';
}

/* line 366, ../../../app/stylesheets/application.scss */
ol {
  list-style-type: decimal;
}
/* line 368, ../../../app/stylesheets/application.scss */
ol li {
  color: #ccc;
  margin-bottom: 8px;
}
/* line 371, ../../../app/stylesheets/application.scss */
ol li span.text {
  color: black;
}

/* ------ Train line side bar ------ */
/* line 386, ../../../app/stylesheets/application.scss */
#sidebarsitemapcategory {
  font-size: 18px;
  font-weight: bold;
  padding: 0px 0px 0.6em 0px;
  line-height: 1em;
  font-family: 'Neuland W01 Black';
}

/* line 395, ../../../app/stylesheets/application.scss */
.name {
  padding: 0 0 5px 0;
}

/* line 399, ../../../app/stylesheets/application.scss */
#sidebar {
  width: 150px;
  height: 800px;
  float: left;
  margin-left: 30px;
}
/* line 406, ../../../app/stylesheets/application.scss */
#sidebar p.label {
  margin-top: -15px;
  position: absolute;
  width: 100px;
  -webkit-transform: perspective(0px) rotate(-45deg);
  transform: perspective(0px) rotate(-45deg);
}
/* line 413, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap {
  width: 40px;
  position: relative;
  float: left;
  margin-top: 70px;
}
/* line 420, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line {
  width: 24px;
  background-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
/* line 429, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line .stop {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-left: 1px;
  position: absolute;
  overflow: visible;
  left: 0px;
  border: solid black 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 443, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.ginsburge {
  background-color: orange;
}
/* line 378, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.ginsburge .stop {
  border-color: orange;
}
/* line 444, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.no-hair-day {
  background-color: blue;
}
/* line 378, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.no-hair-day .stop {
  border-color: blue;
}
/* line 445, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.portraits {
  background-color: red;
}
/* line 378, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.portraits .stop {
  border-color: red;
}
/* line 446, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.essays {
  background-color: green;
}
/* line 378, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.essays .stop {
  border-color: green;
}
/* line 447, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.friends {
  background-color: silver;
}
/* line 378, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.friends .stop {
  border-color: silver;
}
/* line 449, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .popup_label {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 456, ../../../app/stylesheets/application.scss */
#right-sidebar {
  width: 150px;
  height: 800px;
  float: left;
  margin-right: 30px;
  margin-top: 175px;
}
/* line 463, ../../../app/stylesheets/application.scss */
#right-sidebar a img {
  margin-bottom: 50px;
}
/* line 467, ../../../app/stylesheets/application.scss */
#right-sidebar .book a img {
  position: relative;
  behavior: url(/stylesheets/border-radius.htc);
  border: 1px black;
  border-radius: 5px;
  padding: 10px 10px 15px 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 480, ../../../app/stylesheets/application.scss */
#footer {
  clear: both;
  width: 650px;
  margin-left: 180px;
  padding: 16px;
  text-align: center;
  margin-bottom: 1em;
}

/* ------ Album Index ------ */
/* line 490, ../../../app/stylesheets/application.scss */
#album-index {
  /*  .indexed-album {
      margin-bottom: 20px;
    }*/
}
/* line 495, ../../../app/stylesheets/application.scss */
#album-index th {
  font-family: 'ITC Kabel W01 Bold';
}
/* line 499, ../../../app/stylesheets/application.scss */
#album-index td {
  padding-right: 10px;
}
/* line 503, ../../../app/stylesheets/application.scss */
#album-index td.name {
  width: 300px;
}
/* line 507, ../../../app/stylesheets/application.scss */
#album-index td.count, #album-index td.coords {
  width: 200px;
}

/* ------ Albums ------ */
/* line 514, ../../../app/stylesheets/application.scss */
blockquote {
  font-size: 0.95em;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 520, ../../../app/stylesheets/application.scss */
ul.album_thumbs {
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
/* line 526, ../../../app/stylesheets/application.scss */
ul.album_thumbs li {
  display: inline;
}
/* line 529, ../../../app/stylesheets/application.scss */
ul.album_thumbs li a {
  display: block;
  float: left;
  margin-right: 0px;
  padding: 5px 5px;
}

/* line 538, ../../../app/stylesheets/application.scss */
.album_page_element_fields {
  padding: 10px;
  margin: 10px;
  border: black solid 1px;
}

/* line 544, ../../../app/stylesheets/application.scss */
.image_fields {
  padding: 10px 0px;
  margin: 10px 0px;
  border: black dashed 1px;
}

/* line 550, ../../../app/stylesheets/application.scss */
.jcarousel-container {
  padding-right: 6px;
  padding-bottom: 10px;
}

/* line 554, ../../../app/stylesheets/application.scss */
#gallery {
  clear: both;
  float: left;
  margin-left: -10px;
  padding-right: 6px;
  /*  border: red solid 1px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*  #thumbs {width:1200px; height: 132px; padding: 6px;}*/
}
/* line 569, ../../../app/stylesheets/application.scss */
#gallery a img {
  zoom: 1;
  position: relative;
  display: block;
  behavior: url(/stylesheets/border-radius.htc);
  float: left;
  margin: 5px 5px 6px 5px;
  width: 100%;
  border: 1px black;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 587, ../../../app/stylesheets/application.scss */
.disclaimer {
  clear: both;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

/* line 594, ../../../app/stylesheets/application.scss */
ul.sortable_images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 512px;
  height: 512px;
  clear: both;
}

/* line 603, ../../../app/stylesheets/application.scss */
ul.sortable_images li {
  cursor: move;
  margin: 0;
  padding: 0;
  float: left;
  width: 128px;
  height: 128px;
}

/* ----- Album Pages ----- */
/* line 614, ../../../app/stylesheets/application.scss */
div.album {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  clear: both;
}
/* line 624, ../../../app/stylesheets/application.scss */
div.album .section {
  clear: both;
  margin-bottom: 16px;
}
/* line 631, ../../../app/stylesheets/application.scss */
div.album .section .images .image {
  float: left;
  margin-right: 18px;
  margin-bottom: 8px;
  overflow: hidden;
  border: 1px black;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
}
/* line 646, ../../../app/stylesheets/application.scss */
div.album .section .images ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-right: 25px;
}
/* line 654, ../../../app/stylesheets/application.scss */
div.album .section p {
  margin-bottom: 16px;
}
/* line 658, ../../../app/stylesheets/application.scss */
div.album .section blockquote {
  margin-bottom: 16px;
}
/* line 662, ../../../app/stylesheets/application.scss */
div.album .section strong {
  font-family: 'ITC Kabel W01 Bold';
}

/* line 668, ../../../app/stylesheets/application.scss */
code {
  font-family: monospace;
  font-size: 0.85em;
}

/* line 673, ../../../app/stylesheets/application.scss */
.album_section_fields {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* line 680, ../../../app/stylesheets/application.scss */
.subscriber {
  margin-bottom: 20px;
}

/* line 690, ../../../app/stylesheets/application.scss */
#ginsburge_on_sale p {
  margin-bottom: 8px;
}

/* line 694, ../../../app/stylesheets/application.scss */
.admin_links.new {
  margin-top: 20px;
  background-color: red;
  padding: 4px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 696, ../../../app/stylesheets/application.scss */
.admin_links.new a {
  color: white;
}

/* line 704, ../../../app/stylesheets/application.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 711, ../../../app/stylesheets/application.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 716, ../../../app/stylesheets/application.scss */
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 720, ../../../app/stylesheets/application.scss */
.simple_form div.boolean label {
  float: none;
  margin: 0;
}

/* line 727, ../../../app/stylesheets/application.scss */
.page .section {
  clear: both;
  margin: 0px 40px 2em 40px;
}
/* line 732, ../../../app/stylesheets/application.scss */
.page .section img {
  float: right;
}
/* line 737, ../../../app/stylesheets/application.scss */
.page .section ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-right: 25px;
  /*      background-color: #fff*/
}
/* line 745, ../../../app/stylesheets/application.scss */
.page .footer {
  text-align: center;
}
/* line 749, ../../../app/stylesheets/application.scss */
.page h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 0.6em 0px;
  margin-top: 0.6em;
  line-height: 1em;
  font-family: 'Neuland W01 Black';
}
/* line 759, ../../../app/stylesheets/application.scss */
.page h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0.4em;
  padding: 0px 0px 0.4em 0px;
  color: #666;
  font-family: 'ITC Kabel W01 Bold';
}
/* line 768, ../../../app/stylesheets/application.scss */
.page strong {
  font-family: 'ITC Kabel W01 Bold';
}

/* line 772, ../../../app/stylesheets/application.scss */
strong {
  font-family: 'ITC Kabel W01 Bold';
}

/* line 776, ../../../app/stylesheets/application.scss */
span.telephone {
  font-weight: bold;
  font-family: 'ITC Kabel W01 Bold';
}

/* line 781, ../../../app/stylesheets/application.scss */
span.copyright {
  font-weight: bold;
  font-family: 'ITC Kabel W01 Bold';
}

/* line 787, ../../../app/stylesheets/application.scss */
#subway_map img {
  margin-left: 60px;
}

/* line 793, ../../../app/stylesheets/application.scss */
#sitemap ul {
  width: 150px;
  margin-bottom: 30px;
}

/* line 798, ../../../app/stylesheets/application.scss */
a.cancel {
  font-size: 40px;
  background-color: #FF0033;
  color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  /*  font-weight: bold;*/
}

/* line 808, ../../../app/stylesheets/application.scss */
#subscribers_div {
  padding: 20px 0 0 20px;
}

/* line 811, ../../../app/stylesheets/application.scss */
#user_nav {
  margin-left: 80px;
}

/* line 814, ../../../app/stylesheets/application.scss */
#sign-in-form {
  margin-left: 80px;
  margin-top: 80px;
}
