/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ------ Flash Notices ------ */
/* line 16, ../../../app/stylesheets/application.scss */
#flash_notice {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
  display: relative;
  background-color: #CFC;
  border: white dotted 3px;
  width: 100%;
  margin: 20px 0px;
}

/* line 26, ../../../app/stylesheets/application.scss */
#flash_error, #flash_alert {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
  background-color: #FCC;
  border: red dotted 3px;
  width: 100%;
  margin: 20px 0px;
}

/* line 35, ../../../app/stylesheets/application.scss */
.fieldWithErrors {
  display: inline;
}

/* line 39, ../../../app/stylesheets/application.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px 0px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 48, ../../../app/stylesheets/application.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: red;
}
/* line 57, ../../../app/stylesheets/application.scss */
.error_messages p {
  margin: 8px 10px;
}
/* line 58, ../../../app/stylesheets/application.scss */
.error_messages ul {
  margin: 0;
}

/* ------ Primary Content ------ */
/* line 64, ../../../app/stylesheets/application.scss */
body {
  font-family: 'ITC Kabel W01 Book', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-top: 30px;
  margin: 0 auto;
}

/* line 72, ../../../app/stylesheets/application.scss */
#wrap {
  margin: 20px auto;
  width: 1100px;
}

/* line 78, ../../../app/stylesheets/application.scss */
#main {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  float: left;
  background: url(/images/shared/20x24_sketch_ghosted.png) no-repeat 70px 100px;
  min-height: 790px;
  height: auto !important;
  height: 790px;
}

/* line 90, ../../../app/stylesheets/application.scss */
#content {
  border: 1px solid silver;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
}
/* line 98, ../../../app/stylesheets/application.scss */
#content #primary-nav .tab {
  width: 108px;
  height: 40px;
  float: left;
  text-align: center;
}
/* line 105, ../../../app/stylesheets/application.scss */
#content #primary-nav .portraits {
  background: url(/images/shared/tabs/portraits_tab.png) no-repeat;
}
/* line 108, ../../../app/stylesheets/application.scss */
#content #primary-nav .essays {
  background: url(/images/shared/tabs/essays_tab.png) no-repeat;
}
/* line 111, ../../../app/stylesheets/application.scss */
#content #primary-nav .no_hair_day {
  background: url(/images/shared/tabs/no_hair_day_tab.png) no-repeat;
}
/* line 114, ../../../app/stylesheets/application.scss */
#content #primary-nav .ginsberg {
  background: url(/images/shared/tabs/ginsberg_tab.png) no-repeat;
}
/* line 117, ../../../app/stylesheets/application.scss */
#content #primary-nav .friends {
  background: url(/images/shared/tabs/friends_tab.png) no-repeat;
}
/* line 120, ../../../app/stylesheets/application.scss */
#content #primary-nav .commutes {
  background: url(/images/shared/tabs/commutes_tab.png) no-repeat;
}
/* line 124, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base {
  height: 7px;
  background-color: black;
  background: none;
  clear: both;
}
/* line 131, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.portraits {
  background-color: red;
}
/* line 132, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.essays {
  background-color: green;
}
/* line 133, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.no_hair_day {
  background-color: blue;
}
/* line 134, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.ginsberg {
  background-color: orange;
}
/* line 135, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.friends {
  background-color: grey;
}
/* line 136, ../../../app/stylesheets/application.scss */
#content #primary-nav #tab-base.commutes {
  background-color: purple;
}

/* line 140, ../../../app/stylesheets/application.scss */
#category_nav {
  min-height: 1300px;
  height: auto !important;
  height: 1300px;
  padding-top: 25px;
}
/* line 144, ../../../app/stylesheets/application.scss */
#category_nav li {
  height: 50px;
  width: 150px;
  padding-left: 25px;
  -webkit-transform: perspective(0px) rotate(-45deg);
  transform: perspective(0px) rotate(-45deg);
}
/* line 150, ../../../app/stylesheets/application.scss */
#category_nav li a {
  color: black;
  font-size: 12px;
  text-decoration: none;
  padding: 4px 6px;
}
/* line 157, ../../../app/stylesheets/application.scss */
#category_nav li a.selected {
  border: solid 1px black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 167, ../../../app/stylesheets/application.scss */
#category_nav.portraits {
  background: url(/images/shared/line/portraits.png) repeat-y;
}

/* line 168, ../../../app/stylesheets/application.scss */
#category_nav.essays {
  background: url(/images/shared/line/essays.png) repeat-y;
}

/* line 169, ../../../app/stylesheets/application.scss */
#category_nav.no_hair_day {
  background: url(/images/shared/line/no_hair_day.png) repeat-y;
}

/* line 170, ../../../app/stylesheets/application.scss */
#category_nav.ginsberg {
  background: url(/images/shared/line/ginsberg.png) repeat-y;
}

/* line 171, ../../../app/stylesheets/application.scss */
#category_nav.friends {
  background: url(/images/shared/line/friends.png) repeat-y;
}

/* line 172, ../../../app/stylesheets/application.scss */
#category_nav.commutes {
  background: url(/images/shared/line/commutes.png) repeat-y;
}

/* line 174, ../../../app/stylesheets/application.scss */
h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0px;
  line-height: 1.1em;
  font-family: 'Neuland W01 Black';
}

/* line 182, ../../../app/stylesheets/application.scss */
h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0px;
  color: #666;
}

/* line 189, ../../../app/stylesheets/application.scss */
ol {
  list-style-type: decimal;
}
/* line 191, ../../../app/stylesheets/application.scss */
ol li {
  color: #ccc;
  margin-bottom: 8px;
}
/* line 194, ../../../app/stylesheets/application.scss */
ol li span.text {
  color: black;
}

/* ------ Train line side bar ------ */
/* line 209, ../../../app/stylesheets/application.scss */
#sidebar {
  width: 130px;
  height: 800px;
  float: left;
  margin-left: 30px;
}
/* line 215, ../../../app/stylesheets/application.scss */
#sidebar p.label {
  margin-top: -15px;
  position: absolute;
  width: 100px;
  -webkit-transform: perspective(0px) rotate(-45deg);
  transform: perspective(0px) rotate(-45deg);
}
/* line 222, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap {
  width: 40px;
  position: relative;
  float: left;
  margin-top: 70px;
}
/* line 229, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line {
  width: 24px;
  background-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
/* line 238, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line .stop {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-left: 1px;
  position: absolute;
  overflow: visible;
  left: 0px;
  border: solid black 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 252, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.ginsburge {
  background-color: orange;
}
/* line 201, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.ginsburge .stop {
  border-color: orange;
}
/* line 253, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.no-hair-day {
  background-color: blue;
}
/* line 201, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.no-hair-day .stop {
  border-color: blue;
}
/* line 254, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.portraits {
  background-color: red;
}
/* line 201, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.portraits .stop {
  border-color: red;
}
/* line 255, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.essays {
  background-color: green;
}
/* line 201, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.essays .stop {
  border-color: green;
}
/* line 256, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.friends {
  background-color: silver;
}
/* line 201, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.friends .stop {
  border-color: silver;
}
/* line 258, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .popup_label {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 265, ../../../app/stylesheets/application.scss */
#right-sidebar {
  width: 150px;
  height: 800px;
  float: left;
  margin-right: 30px;
  margin-top: 130px;
}
/* line 272, ../../../app/stylesheets/application.scss */
#right-sidebar a img {
  margin-bottom: 50px;
}

/* ------ Albums ------ */
/* line 278, ../../../app/stylesheets/application.scss */
ul.album_thumbs {
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
/* line 284, ../../../app/stylesheets/application.scss */
ul.album_thumbs li {
  display: inline;
}
/* line 287, ../../../app/stylesheets/application.scss */
ul.album_thumbs li a {
  display: block;
  float: left;
  margin-right: 0px;
  padding: 5px 5px;
}

/* line 296, ../../../app/stylesheets/application.scss */
.album_page_element_fields {
  padding: 10px;
  margin: 10px;
  border: black solid 1px;
}

/* line 302, ../../../app/stylesheets/application.scss */
.image_fields {
  padding: 10px;
  margin: 10px;
  border: black dashed 1px;
}

/* line 308, ../../../app/stylesheets/application.scss */
#gallery {
  clear: both;
  /*  border: red solid 1px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  /*  #thumbs {width:1200px; height: 132px; padding: 6px;}*/
}
/* line 319, ../../../app/stylesheets/application.scss */
#gallery a img {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
}

/* line 328, ../../../app/stylesheets/application.scss */
.disclaimer {
  font-weight: bold;
  text-align: center;
}

/* ----- Album Pages ----- */
/* line 334, ../../../app/stylesheets/application.scss */
.album {
  padding-left: 40px;
  padding-right: 40px;
  clear: both;
}

/* line 343, ../../../app/stylesheets/application.scss */
p.top_narritive {
  margin-bottom: 10px;
  font-style: italic;
}

/* line 349, ../../../app/stylesheets/application.scss */
.pe_test1 {
  clear: both;
}
/* line 354, ../../../app/stylesheets/application.scss */
.pe_test1 ul.images {
  float: right;
  margin-left: 10px;
}
/* line 357, ../../../app/stylesheets/application.scss */
.pe_test1 ul.images li {
  margin-bottom: 10px;
}
/* line 358, ../../../app/stylesheets/application.scss */
.pe_test1 ul.images li:last-child {
  margin-bottom: 0px;
}
/* line 361, ../../../app/stylesheets/application.scss */
.pe_test1 p {
  margin-bottom: 10px;
}

/* line 364, ../../../app/stylesheets/application.scss */
.pe_test2 {
  clear: both;
}
/* line 369, ../../../app/stylesheets/application.scss */
.pe_test2 ul.images {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 373, ../../../app/stylesheets/application.scss */
.pe_test2 ul.images li {
  margin-bottom: 10px;
}
/* line 374, ../../../app/stylesheets/application.scss */
.pe_test2 ul.images li:last-child {
  margin-bottom: -10px;
}
/* line 377, ../../../app/stylesheets/application.scss */
.pe_test2 p {
  margin-bottom: 10px;
}

/* line 380, ../../../app/stylesheets/application.scss */
.pe_test3 {
  overflow: hidden;
}
/* line 385, ../../../app/stylesheets/application.scss */
.pe_test3 img.image1 {
  float: left;
  margin-right: 10px;
}
/* line 390, ../../../app/stylesheets/application.scss */
.pe_test3 img.image2 {
  float: right;
  margin-left: 10px;
}
/* line 395, ../../../app/stylesheets/application.scss */
.pe_test3 p {
  margin-bottom: 10px;
}

/* line 398, ../../../app/stylesheets/application.scss */
.pe_test4 {
  clear: both;
}
/* line 403, ../../../app/stylesheets/application.scss */
.pe_test4 ul.images {
  float: right;
  margin-left: 10px;
}
/* line 406, ../../../app/stylesheets/application.scss */
.pe_test4 ul.images li {
  margin-bottom: 10px;
}
/* line 407, ../../../app/stylesheets/application.scss */
.pe_test4 ul.images li:last-child {
  margin-bottom: 0px;
}
/* line 410, ../../../app/stylesheets/application.scss */
.pe_test4 p {
  margin-bottom: 10px;
}

/* line 414, ../../../app/stylesheets/application.scss */
.subscriber {
  margin-bottom: 20px;
}

/* line 424, ../../../app/stylesheets/application.scss */
#ginsburge_on_sale p {
  margin-bottom: 8px;
}

/* line 428, ../../../app/stylesheets/application.scss */
.admin_links.new {
  margin-top: 20px;
  background-color: red;
  padding: 4px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 430, ../../../app/stylesheets/application.scss */
.admin_links.new a {
  color: white;
}

/* line 438, ../../../app/stylesheets/application.scss */
.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

/* line 445, ../../../app/stylesheets/application.scss */
.simple_form div.input {
  margin-bottom: 10px;
}

/* line 449, ../../../app/stylesheets/application.scss */
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

/* line 453, ../../../app/stylesheets/application.scss */
.simple_form div.boolean label {
  float: none;
  margin: 0;
}

/* line 460, ../../../app/stylesheets/application.scss */
.page .section {
  margin: 15px 40px;
}
/* line 463, ../../../app/stylesheets/application.scss */
.page .section ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-right: 25px;
  /*      background-color: #fff*/
}
/* line 471, ../../../app/stylesheets/application.scss */
.page .footer {
  text-align: center;
}

/* line 476, ../../../app/stylesheets/application.scss */
span.telephone {
  font-weight: bold;
}

/* line 480, ../../../app/stylesheets/application.scss */
span.copyright {
  font-weight: bold;
}

/* line 485, ../../../app/stylesheets/application.scss */
#subway_map img {
  margin-left: 60px;
}
