/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* ------ Flash Notices ------ */
/* line 13, ../../../app/stylesheets/application.scss */
#flash_notice {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
  display: relative;
  background-color: #CFC;
  border: white dotted 3px;
  width: 24%;
  margin: 20px;
}

/* line 23, ../../../app/stylesheets/application.scss */
#flash_error, #flash_alert {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
  background-color: #FCC;
  border: red dotted 3px;
  width: 50%;
  margin: 20px;
}

/* line 32, ../../../app/stylesheets/application.scss */
.fieldWithErrors {
  display: inline;
}

/* line 36, ../../../app/stylesheets/application.scss */
.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px 0 0 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 45, ../../../app/stylesheets/application.scss */
.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: red;
}
/* line 54, ../../../app/stylesheets/application.scss */
.error_messages p {
  margin: 8px 10px;
}
/* line 55, ../../../app/stylesheets/application.scss */
.error_messages ul {
  margin: 0;
}

/* ------ Primary Content ------ */
/* line 61, ../../../app/stylesheets/application.scss */
body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-top: 30px;
}

/* line 68, ../../../app/stylesheets/application.scss */
#container {
  /* width: 75%; */
  margin: 0 auto;
  padding: 0 0 0 20px;
  float: left;
}

/* line 75, ../../../app/stylesheets/application.scss */
h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0px;
}

/* ------ Train line side bar ------ */
/* line 90, ../../../app/stylesheets/application.scss */
#sidebar {
  /*  top: 0;
  left:0;
  position:fixed;*/
  width: 200px;
  height: 800px;
  float: left;
  padding-left: 30px;
}
/* line 99, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap {
  width: 40px;
  position: relative;
  float: left;
}
/* line 104, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line {
  width: 24px;
  background-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
/* line 113, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line .stop {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-left: 1px;
  position: absolute;
  overflow: visible;
  left: 0px;
  border: solid black 1px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}
/* line 127, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.ginsburge {
  background-color: orange;
}
/* line 84, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.ginsburge .stop {
  border-color: orange;
}
/* line 128, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.no-hair-day {
  background-color: blue;
}
/* line 84, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.no-hair-day .stop {
  border-color: blue;
}
/* line 129, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.portraits {
  background-color: red;
}
/* line 84, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.portraits .stop {
  border-color: red;
}
/* line 130, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.essays {
  background-color: green;
}
/* line 84, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.essays .stop {
  border-color: green;
}
/* line 131, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.friends {
  background-color: silver;
}
/* line 84, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .train_line.friends .stop {
  border-color: silver;
}
/* line 133, ../../../app/stylesheets/application.scss */
#sidebar .train_line_wrap .popup_label {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* ------ Albums ------ */
/* line 141, ../../../app/stylesheets/application.scss */
ul.album_thumbs {
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
/* line 147, ../../../app/stylesheets/application.scss */
ul.album_thumbs li {
  display: inline;
}
/* line 150, ../../../app/stylesheets/application.scss */
ul.album_thumbs li a {
  display: block;
  float: left;
  margin-right: 0px;
  padding: 5px 5px;
}

/* line 159, ../../../app/stylesheets/application.scss */
.album_page_element_fields {
  padding: 10px;
  margin: 10px;
  border: black solid 1px;
}

/* line 165, ../../../app/stylesheets/application.scss */
.image_fields {
  padding: 10px;
  margin: 10px;
  border: black dashed 1px;
}

/* line 171, ../../../app/stylesheets/application.scss */
#gallery {
  clear: both;
  border: red dotted 2px;
  padding: 2px;
  overflow: auto;
}
/* line 179, ../../../app/stylesheets/application.scss */
#gallery #thumbs {
  width: 1200px;
  height: 132px;
  padding: 6px;
}
/* line 180, ../../../app/stylesheets/application.scss */
#gallery ul {
  display: inline;
}
/* line 182, ../../../app/stylesheets/application.scss */
#gallery ul li {
  display: inline;
}
/* line 184, ../../../app/stylesheets/application.scss */
#gallery ul li a {
  padding: 5px 5px;
}

/* ----- Album Pages ----- */
/* line 190, ../../../app/stylesheets/application.scss */
.album {
  padding: 0px 10px 10px 10px;
  width: 640px;
}

/* line 196, ../../../app/stylesheets/application.scss */
p.top_narritive {
  margin-bottom: 10px;
  font-style: italic;
}

/* line 202, ../../../app/stylesheets/application.scss */
.pe_test1 {
  clear: both;
}
/* line 207, ../../../app/stylesheets/application.scss */
.pe_test1 ul.images {
  float: right;
  margin-left: 10px;
}
/* line 210, ../../../app/stylesheets/application.scss */
.pe_test1 ul.images li {
  margin-bottom: 10px;
}
/* line 211, ../../../app/stylesheets/application.scss */
.pe_test1 ul.images li:last-child {
  margin-bottom: 0px;
}
/* line 214, ../../../app/stylesheets/application.scss */
.pe_test1 p {
  margin-bottom: 10px;
}

/* line 217, ../../../app/stylesheets/application.scss */
.pe_test2 {
  clear: both;
}
/* line 222, ../../../app/stylesheets/application.scss */
.pe_test2 ul.images {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 226, ../../../app/stylesheets/application.scss */
.pe_test2 ul.images li {
  margin-bottom: 10px;
}
/* line 227, ../../../app/stylesheets/application.scss */
.pe_test2 ul.images li:last-child {
  margin-bottom: -10px;
}
/* line 230, ../../../app/stylesheets/application.scss */
.pe_test2 p {
  margin-bottom: 10px;
}

/* line 233, ../../../app/stylesheets/application.scss */
.pe_test3 {
  overflow: hidden;
}
/* line 238, ../../../app/stylesheets/application.scss */
.pe_test3 img.image1 {
  float: left;
  margin-right: 10px;
}
/* line 243, ../../../app/stylesheets/application.scss */
.pe_test3 img.image2 {
  float: right;
  margin-left: 10px;
}
/* line 248, ../../../app/stylesheets/application.scss */
.pe_test3 p {
  margin-bottom: 10px;
}

/* line 251, ../../../app/stylesheets/application.scss */
.pe_test4 {
  clear: both;
}
/* line 256, ../../../app/stylesheets/application.scss */
.pe_test4 ul.images {
  float: right;
  margin-left: 10px;
}
/* line 259, ../../../app/stylesheets/application.scss */
.pe_test4 ul.images li {
  margin-bottom: 10px;
}
/* line 260, ../../../app/stylesheets/application.scss */
.pe_test4 ul.images li:last-child {
  margin-bottom: 0px;
}
/* line 263, ../../../app/stylesheets/application.scss */
.pe_test4 p {
  margin-bottom: 10px;
}
