#primary-nav
  - @links.each_pair do |category, album|
    %a{:href => category_album_path(category, album)}  
      %div{:class => "tab #{category.name}"}
  %div{:id => "tab-base", :class => "#{@selected_category.name}"}