#subway_map
  = image_tag("/images/navigation/site-map-ir.gif", :usemap => "#site_map_ir_Map", :id => "map")
  %map{:name => "site_map_ir_Map"}
    %area{:alt => "", :coords => "75,226, 125,226, 140,239, 71,239", :href => "#enfamille-dorfman1", :shape => "poly"}/
    %area{:alt => "", :coords => "363,269,431,277", :href => "#mather_house", :shape => "rect"}/
    %area{:alt => "", :coords => "355,344,423,352", :href => "#marimekko", :shape => "rect"}/
    %area{:alt => "", :coords => "329,415,396,425", :href => "#flims-on-elsa", :shape => "rect"}/
    %area{:alt => "", :coords => "397,393,484,405", :href => "#the-family-show", :shape => "rect"}/
    %area{:alt => "", :coords => "382,377,453,391", :href => "#jonathanrichman", :shape => "rect"}/
    %area{:alt => "", :coords => "370,360,414,373", :href => "#angels", :shape => "rect"}/
    %area{:alt => "", :coords => "265,373,327,382", :href => "#reviews", :shape => "rect"}/
    %area{:alt => "", :coords => "479,47,535,59", :href => "#nohairday", :shape => "rect"}/
    %area{:alt => "", :coords => "510,70,539,80", :href => "#nohairday-blurbs", :shape => "rect"}/
    %area{:alt => "", :coords => "492,85,539,94", :href => "#nohairday-dedication", :shape => "rect"}/
    %area{:alt => "", :coords => "477,99,551,110", :href => "#nohairday-how-it-happened", :shape => "rect"}/
    %area{:alt => "", :coords => "462,114,485,123", :href => "#nohairday-pizza", :shape => "rect"}/
    %area{:alt => "", :coords => "447,129,510,138", :href => "#nohairday-debbie-dorsey", :shape => "rect"}/
    %area{:alt => "", :coords => "432,144,496,153", :href => "#nohairday-libby-levinson", :shape => "rect"}/
    %area{:alt => "", :coords => "418,159,468,168", :href => "#nohairday-carol-potoff", :shape => "rect"}/
    %area{:alt => "", :coords => "403,173,509,183", :href => "#nohairday-lumpect-mastect-recon", :shape => "rect"}/
    %area{:alt => "", :coords => "388,188,454,198", :href => "#nohairday-bye-bye-cancer", :shape => "rect"}/
    %area{:alt => "", :coords => "373,203,417,213", :href => "#nohairday-bad-news", :shape => "rect"}/
    %area{:alt => "", :coords => "357,219,384,228", :href => "#nohairday-about", :shape => "rect"}/
    %area{:alt => "", :coords => "288,179,313,189", :href => "#nohairday", :shape => "rect"}/
    %area{:alt => "", :coords => "355,179,378,188", :href => "#Ginsberg", :shape => "rect"}/
    %area{:alt => "", :coords => "338,129,406,139", :href => "#allendylan", :shape => "rect"}/
    %area{:alt => "", :coords => "338,107,426,118", :href => "#at-home", :shape => "rect"}/
    %area{:alt => "", :coords => "337,86,438,96", :href => "#housebook-flagg_streeta", :shape => "rect"}/
    %area{:alt => "", :coords => "337,66,423,77", :href => "#Ginsberg3", :shape => "rect"}/
    %area{:alt => "", :coords => "338,48,410,59", :href => ginsburge_sale_path, :shape => "rect"}/
    %area{:alt => "", :coords => "307,31,355,42", :href => "#Ginsberg", :shape => "rect"}/
    %area{:alt => "", :coords => "257,269,290,278", :href => "#housebook/flagg-street-II", :shape => "rect"}/
    %area{:alt => "", :coords => "238,290,269,299", :href => "#housebook/flagg_streete", :shape => "rect"}/
    %area{:alt => "", :coords => "254,319,296,328", :href => "#housebook/flagg_streetc", :shape => "rect"}/
    %area{:alt => "", :coords => "246,330,281,339", :href => "#housebook/flagg_streeta", :shape => "rect"}/
    %area{:alt => "", :coords => "235,340,279,350", :href => "#housebook-flagg_streetd", :shape => "rect"}/
    %area{:alt => "", :coords => "193,354,252,366", :href => "#housebook", :shape => "rect"}/
    %area{:alt => "", :coords => "307,279,329,287", :href => "#kaminerkaplan", :shape => "rect"}/
    %area{:alt => "", :coords => "307,289,332,297", :href => "#firefly", :shape => "rect"}/
    %area{:alt => "", :coords => "307,299,329,307", :href => "#links", :shape => "rect"}/
    %area{:alt => "", :coords => "308,309,332,317", :href => "#works-by-friends", :shape => "rect"}/
    %area{:alt => "", :coords => "285,155,319,165", :href => "#book-reviews", :shape => "rect"}/
    %area{:alt => "", :coords => "276,139,310,150", :href => "arbus1.htm", :shape => "rect"}/
    %area{:alt => "", :coords => "234,118,310,133", :href => "#book-reviews", :shape => "rect"}/
    %area{:alt => "", :coords => "84,193,125,208", :href => "pals/", :shape => "rect"}/
    %area{:alt => "", :coords => "2,238,35,249", :href => "#essay", :shape => "rect"}/
    %area{:alt => "", :coords => "338,234,377,245", :href => "#brothers", :shape => "rect"}/
    %area{:alt => "", :coords => "167,182,218,193", :href => "web-people-alone", :shape => "rect"}/
    %area{:alt => "", :coords => "221,182,274,193", :href => "#dogs", :shape => "rect"}/
    %area{:alt => "", :coords => "174,127,219,139", :href => "#dynasties", :shape => "rect"}/
    %area{:alt => "", :coords => "146,144,232,156", :href => "#families-with-babies", :shape => "rect"}/
    %area{:alt => "", :coords => "179,162,252,174", :href => category_album_path(@people_and_dogs.category, @people_and_dogs), :shape => "rect"}/
    %area{:alt => "", :coords => "238,202,294,213", :href => category_album_path(@self_portraits.category, @self_portraits), :shape => "rect"}/
    %area{:alt => "", :coords => "316,214,344,225", :href => "#sisters", :shape => "rect"}/
    %area{:alt => "", :coords => "360,252,462,265", :href => "#mothers-and-daughters", :shape => "rect"}/
    %area{:alt => "", :coords => "365,283,429,294", :href => "#fathers-and-sons", :shape => "rect"}/
    %area{:alt => "", :coords => "364,303,435,317", :href => "#big-apple-circus", :shape => "rect"}/
    %area{:alt => "", :coords => "364,325,397,336", :href => "#mlkos", :shape => "rect"}/
    %area{:alt => "", :coords => "297,338,339,349", :href => "#athome", :shape => "rect"}/
    %area{:alt => "", :coords => "259,354,327,369", :href => "http://www.nextbigthing.org/archive/episode?05232003", :shape => "rect"}/
    %area{:alt => "", :coords => "273,386,325,397", :href => "#kraemerfilms", :shape => "rect"}/
    %area{:alt => "", :coords => "272,401,324,412", :href => "#studio-studio", :shape => "rect"}/
    %area{:alt => "", :coords => "414,409,478,420", :href => "#school-friends", :shape => "rect"}/
    %area{:alt => "", :coords => "432,430,503,441", :href => "#polaroid-friends", :shape => "rect"}/
    %area{:alt => "", :coords => "453,451,538,462", :href => "#plimouth", :shape => "rect"}/
    %area{:alt => "", :coords => "474,469,513,481", :href => "#gordoon", :shape => "rect"}/
    %area{:alt => "", :coords => "315,432, 323,424, 402,503, 394,511", :href => "#prices", :shape => "poly"}/
    %area{:alt => "", :coords => "294,438, 302,430, 336,464, 329,472", :href => "#newyork", :shape => "poly"}/
    %area{:alt => "", :coords => "279,439, 308,468, 315,461, 287,431", :href => about_elsa_path, :shape => "poly"}/
    %area{:alt => "", :coords => "257,437, 266,430, 316,482, 309,489", :href => "#copyright", :shape => "poly"}/
    %area{:alt => "", :coords => "243,432, 259,450, 253,457, 235,439", :href => "#faq", :shape => "poly"}/
    %area{:alt => "", :coords => "216,438, 262,484, 269,477, 223,431", :href => about_camera_path, :shape => "poly"}/
    %area{:alt => "", :coords => "194,441, 233,480, 240,473, 202,435", :href => donate_path, :shape => "poly"}/
    %area{:alt => "", :coords => "157,90, 164,83, 190,109, 183,116", :href => "#couples", :shape => "poly"}/
    %area{:alt => "", :coords => "197,232, 211,218, 217,224, 202,238", :href => "#pals-index#now", :shape => "poly"}/
    %area{:alt => "", :coords => "184,233, 199,218, 204,223, 189,238", :href => "#pals-aldocaseyeugeneisaacrafi", :shape => "poly"}/
    %area{:alt => "", :coords => "172,233, 190,215, 195,220, 177,238", :href => "#pals-after8thgrade", :shape => "poly"}/
    %area{:alt => "", :coords => "159,232, 177,214, 183,220, 165,238", :href => "#pals-mlkschool", :shape => "poly"}/
    %area{:alt => "", :coords => "125,306, 159,272, 167,280, 133,314", :href => "#essay", :shape => "poly"}/
    %area{:alt => "", :coords => "71,338, 144,258, 152,266, 81,349", :href => "#portrait", :shape => "poly"}/
    %area{:alt => "", :coords => "97,287, 132,248, 140,256, 100,295", :href => "#here_we_are", :shape => "poly"}/
    %area{:alt => "", :coords => "76,288, 118,246, 125,253, 83,295", :href => "#entertaining", :shape => "poly"}/
    %area{:alt => "", :coords => "47,288, 96,244, 103,251, 57,294", :href => "#advice", :shape => "poly"}/
    %area{:alt => "", :coords => "47,265, 69,245, 76,253, 55,273", :href => "#wisteria", :shape => "poly"}/
    %area{:alt => "", :coords => "5,280, 36,248, 45,257, 12,288", :href => "#creeley", :shape => "poly"}/