@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/utilities/general/min";

/* ------ Flash Notices ------ */

@mixin flash-base {
  color: red;
  padding: 5px 8px;
  margin: 10px 0 0 20px;
  border: red dotted 3px;
}

#flash_notice {
  @include flash-base;

  display: relative;
  background-color: #CFC;
  border: white dotted 3px;
  width: 95%;
  margin: 20px 0px;
}

#flash_error, #flash_alert {
  @include flash-base;

  background-color: #FCC;
  border: red dotted 3px;
  width: 95%;
  margin: 20px 0px;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin: 20px 0px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: red;
  }
  p { margin: 8px 10px; }
  ul { margin: 0; }
}


/* ------ Primary Content ------ */

body {
  font-family: 'ITC Kabel W01 Book', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;	
  margin-top: 30px;//remove
  margin: 0 auto;
 
}

#wrap {
	margin: 20px auto;
	width: 1100px;
	
}

$main_content_width: 650px;
#main { 
  width: $main_content_width;
  
  margin: 0 auto;
  padding: 0 20px;
  float: left;
  
  background: url(/images/shared/20x24_sketch_ghosted.png) no-repeat 70px 150px;
  @include min-height(850px);
}
#main2 { 
  width: $main_content_width;
  
  margin: 0 auto;
  padding: 0 20px;
  float: left;
  
  background: url(/images/shared/20x24_sketch_ghosted2.png) no-repeat 70px 150px;
  @include min-height(850px);
}
 
$main_nav_button_width: 108px; //$main_content_width / 6;
$main_nav_button_height: 40px;
#legacywrapper{
	position: relative;
	display: inline-block;
	width: 650px;
	#mail-list-link{
		float: left;
		margin-right: 15px;
	}

	#donate-link{
		float: right;
	
	}
}
#content {
 
  border-radius: 5px;
  border: 1px solid silver;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1) ;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1) ;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1) ;
  @include min-height(850px);

  #primary-nav {
    .tab {
	  width: $main_nav_button_width;
	  height: $main_nav_button_height;
	  float: left;
	  text-align: center;
	 // padding-top: 10px;
    }
    .portraits {
	    background: url(/images/shared/tabs/portraits_tab.png) no-repeat;
	  }
    .essays {
	    background: url(/images/shared/tabs/essays_tab.png) no-repeat;
	  }
    .no_hair_day {
	    background: url(/images/shared/tabs/no_hair_day_tab.png) no-repeat;
	  }
    .ginsberg {
	    background: url(/images/shared/tabs/ginsberg_tab.png) no-repeat;
	  }
    .friends {
	    background: url(/images/shared/tabs/friends_tab.png) no-repeat;
	  }
    .analog {
	    background: url(/images/shared/tabs/commutes_tab.png) no-repeat;
	  }
	
	  #tab-base {
	    height: 10px;
	    background-color: black;
	    background: none;
	    clear: both;
	  }
	   #tab-base.uncategorized { height: 2px; background-color: #000;}
/*    #tab-base.portraits   { background-color: #CC0000; }*/
	  #tab-base.portraits   { background-color: #FF0033; }
/*    #tab-base.essays      { background-color: darkgreen; }*/
	  #tab-base.essays      { background-color: #006939; }
/*    #tab-base.no_hair_day { background-color: #336699; }*/
	  #tab-base.no_hair_day { background-color: #2C7DAF; }
/*    #tab-base.ginsberg    { background-color: darkorange; }*/
	  #tab-base.ginsberg    { background-color: #FF9933; }
/*    #tab-base.friends     { background-color: lightgrey; }*/
	  #tab-base.friends     { background-color: #BCBCBC; }
/*    #tab-base.analog    { background-color: purple; }*/
	  #tab-base.analog    { background-color: #8F418C; }
  }
}

#category_nav {
  padding-top: 15px;
  
  #line {
    position: absolute;
    height: 200px;
	  width: 150px;
	  //padding-left: 50px;
	  margin-left: 10px;
    z-index: -1; 
  }
  
  ul {

    padding-top: 100px;
  }
  
  li {
	  height: 47px;
	  width: 130px;
	  padding-left: 25px;
	  margin-left: 10px;
    
    a {
      font-family: Helvetica, sans-serif;
	    color: black;
	    font-size: 12px;
	    text-decoration: none;
	    padding-left: 4px;
      -webkit-transform-origin: left center;
      -webkit-transform: translatex(3px) translatey(30px) rotate(-45deg);
      -moz-transform-origin: left center;
      -moz-transform: translatex(3px) translatey(30px) rotate(-45deg);
      display: block;
	  }
	
	a.selected {
	  border: solid 1px black;
	  @include border-radius(20px);
	  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
	     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
	          box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 10px rgba(0, 0, 0, 0.1);
	}
  }
}



#category_nav.portraits {
  #line { background: url(/images/shared/line/bg_red.png) repeat-y; margin-left: 34px; }
  ul    { background: url(/images/shared/line/top_bulb_red.png) no-repeat; }
  li    { 
    background: url(/images/shared/line/portraits.png) no-repeat;
	 margin-left: 34px;
    &:hover { background: url(/images/shared/line/portraits.png) 0 -47px no-repeat; }
  }
 &:after {
    display: block;
    content:"";
    background: url(/images/shared/line/base.png) no-repeat;
    width: 55px;
    height: 167px;
    margin-left: 18px;
  }
}

#category_nav.essays {
  #line { background: url(/images/shared/line/bg_green.png) repeat-y; margin-left: 23px;}
  ul    { background: url(/images/shared/line/top_bulb_green.png) no-repeat;}
  li    { 
    background: url(/images/shared/line/essays.png) no-repeat;
	 margin-left: 23px; 
    &:hover { background: url(/images/shared/line/essays.png) 0 -47px no-repeat; }
  }
  
  &:after {
    display: block;
    content:"";
    background: url(/images/shared/line/base.png) no-repeat;
    width: 55px;
    height: 167px;
    margin-left: 7px;
  }
}

#category_nav.no_hair_day {
  #line { background: url(/images/shared/line/bg_blue.png) repeat-y; margin-left: 40px;}
  ul    { background: url(/images/shared/line/top_bulb_blue.png) no-repeat; }
  li    { 
    background: url(/images/shared/line/no_hair_day.png) repeat-y;
    margin-left: 40px;
    &:hover { background: url(/images/shared/line/no_hair_day.png) 0 -47px no-repeat; }
  }
 &:after {
    display: block;
    content:"";
    background: url(/images/shared/line/base.png) no-repeat;
    width: 55px;
    height: 167px;
    margin-left: 23px;
  }
}

#category_nav.ginsberg {
  #line { background: url(/images/shared/line/bg_orange.png) repeat-y; margin-left: 33px; }
  ul    { background: url(/images/shared/line/top_bulb_orange.png) no-repeat; }
  li    {
    background: url(/images/shared/line/ginsberg.png) repeat-y;
    margin-left: 33px;
    &:hover { background: url(/images/shared/line/ginsberg.png) 0 -47px no-repeat; }
  }
 &:after {
    display: block;
    content:"";
    background: url(/images/shared/line/base.png) no-repeat;
    width: 55px;
    height: 167px;
    margin-left: 17px;
  }
}

#category_nav.friends {
  #line { background: url(/images/shared/line/bg_silver.png) repeat-y; margin-left: 27px;}
  ul    { background: url(/images/shared/line/top_bulb_silver.png) no-repeat; }
  li    { 
    background: url(/images/shared/line/friends.png) repeat-y;
    margin-left: 27px;
    &:hover { background: url(/images/shared/line/friends.png) 0 -47px no-repeat; }
  }
 &:after {
    display: block;
    content:"";
    background: url(/images/shared/line/base.png) no-repeat;
    width: 55px;
    height: 167px;
    margin-left: 11px;
  }
}

#category_nav.analog {
  #line { background: url(/images/shared/line/bg_purple.png) repeat-y; margin-left: 28px; }
  ul    { background: url(/images/shared/line/top_bulb_purple.png) no-repeat; }
  li    {
    background: url(/images/shared/line/commutes.png) repeat-y;
    margin-left: 28px;
    &:hover { background: url(/images/shared/line/commutes.png) 0 -47px no-repeat; }
  }
 &:after {
    display: block;
    content:"";
    background: url(/images/shared/line/base.png) no-repeat;
    width: 55px;
    height: 167px;
    margin-left: 12px;
  }
}

/*#category_nav.no_hair_day li { background: url(/images/shared/line/no_hair_day.png) repeat-y; }
#category_nav.ginsberg li    { background: url(/images/shared/line/ginsberg.png) repeat-y; }
#category_nav.friends li     { background: url(/images/shared/line/friends.png) repeat-y; }
#category_nav.analog li    { background: url(/images/shared/line/commutes.png) repeat-y; }*/

/*#category_nav.portraits   { background: url(/images/shared/line/portraits.png) repeat-y; }
#category_nav.essays      { background: url(/images/shared/line/essays.png) repeat-y; }
#category_nav.no_hair_day { background: url(/images/shared/line/no_hair_day.png) repeat-y; }
#category_nav.ginsberg    { background: url(/images/shared/line/ginsberg.png) repeat-y; }
#category_nav.friends     { background: url(/images/shared/line/friends.png) repeat-y; }
#category_nav.commutes    { background: url(/images/shared/line/commutes.png) repeat-y; }*/

h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 0.6em 0px;
  line-height: 1em;
 // line-height: 1.1em;
  font-family:'Neuland W01 Black';
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 0px 0.4em 0px;
  color: #666;
  font-family: 'ITC Kabel W01 Bold';
}

ol {
  list-style-type: decimal; 
  li {
	  color: #ccc;
    margin-bottom: 8px;
	  span.text {color: black;}
  }
}

/* ------ Train line side bar ------ */
@mixin train-stop($color) {
  background-color: $color;
  .stop { border-color: $color; }
}

$stop_circum: 20px;// should be even number
$stop_circum_hover: 40px;

$sidebar_width: 150px;//$stop_circum * 10;

#sidebarsitemapcategory{
	font-size: 18px;
  font-weight: bold;
  padding: 0px 0px 0.6em 0px;
  line-height: 1em;
 // line-height: 1.1em;
  font-family:'Neuland W01 Black';
}

.name {
	padding: 0 0 5px 0;
}

#sidebar {
  width: $sidebar_width;
  height: 800px;
  float: left;
  margin-left: 30px;
  
  
  p.label {
    margin-top: -15px;
    position: absolute;
    width: 100px;
    @include rotate(-45deg, 0px, 0px);
  }

  .train_line_wrap {
	width: $stop_circum * 2;
	position: relative;
	float: left;
	margin-top: 70px;

	
    .train_line {
      width: $stop_circum + 4;
      background-color: pink;
      padding-top: $stop_circum;
      padding-bottom: $stop_circum;
      position: absolute;
      
      @include border-radius(24px / 2);
      
      .stop {
        height: $stop_circum;
        width:  $stop_circum;
        background-color: white;
        margin-left: 1px;
        position: absolute;
        overflow: visible;
        left: 0px;
    
        border: solid black 1px;
        @include border-radius($stop_circum / 2);
      }
    }

    .train_line.ginsburge  	{ @include train-stop(orange); }
    .train_line.no-hair-day { @include train-stop(blue); }
    .train_line.portraits  	{ @include train-stop(red); }
    .train_line.essays 		{ @include train-stop(green); }
    .train_line.friends  	{ @include train-stop(silver); }
    
    .popup_label {
      @include border-radius(5px);
    }
  }
}


#right-sidebar {
  width: 150px;
  height: 800px;
  float: left;
  margin-right: 30px;
  margin-top: 175px;
 
  a img {
    margin-bottom: 50px;
  }
  
  .book a img {
    position: relative;
	behavior: url(/public/stylesheets/border-radius.htc);
    border: 1px black;
    border-radius: 5px;
	padding: 10px 10px 15px 10px;
    margin-bottom: 30px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

#footer {
  clear: both;
  width: $main_content_width;
  margin-left: 180px;
  padding: 16px;
  text-align: center;
  margin-bottom: 1em;
}

/* ------ Album Index ------ */
#album-index {
/*  .indexed-album {
    margin-bottom: 20px;
  }*/
  
  th {
    font-family: 'ITC Kabel W01 Bold';  
  }
  
  td {
    padding-right: 10px;
  }
  
  td.name {
    width: 300px;  
  }
  
  td.count, td.coords {
    width: 200px;
  }
}

/* ------ Albums ------ */

blockquote {
  font-size: 0.95em;
  margin-left: 20px;  
  margin-right: 20px;  
}

ul.album_thumbs { 
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;

  li {
    display: inline;

    a {
      display: block;
      float: left;
      margin-right: 0px;
      padding: 5px 5px;
    }
  }
}

.album_page_element_fields {
  padding: 10px;
  margin:  10px;
  border: black solid 1px;
}

.image_fields {
  padding: 10px 0px;
  margin:  10px 0px;
  border: black dashed 1px;
}

.jcarousel-container{
	padding-right: 6px;
	padding-bottom: 10px;
}
#gallery {
  clear: both;
  float: left;
  margin-left: -10px;
  padding-right: 6px;
  
/*  border: red solid 1px;*/
//  padding: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
//  overflow: auto;
  /*  #thumbs {width:1200px; height: 132px; padding: 6px;}*/

  a {
	 
    img {
	    float: left;
	    margin: 5px 5px 6px 5px;
	    width: 100%;
	    border: 1px black;
	    border-radius: 5px;
	    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
	       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
	            box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);	
    }
  }
}


.disclaimer {
  clear: both;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

ul.sortable_images {
list-style-type: none;
margin: 0;
padding:0;
width: 512px;
height:512px;
clear:both;
}

ul.sortable_images li {
cursor:move;
margin:0;
padding:0;
float:left;
width:128px;
height:128px;
}


/* ----- Album Pages ----- */
div.album {
//  border: red solid 1px;
//  padding: 0px 10px 10px 10px;	
//  width: 640px;
  padding-top: 20px;
  padding-left: 40px;	
  padding-right: 40px;
  
  clear: both;
  
  .section {    
    clear: both;
    margin-bottom: 16px;
    
    .images {
      
    	//margin-right: 10px;
    	.image {
    	  float: left;
    	//  width:181px;
     //   height:270px;
          margin-right:18px;
          margin-bottom: 8px;
      	 overflow: hidden;
          border: 1px black;
		    border-radius: 5px;
			 padding: 5px 5px 7px 5px;
		    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
		       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
		            box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
    	}
    	
      ul {
        list-style-type: disc; 
        margin-left: 25px;
        margin-right: 25px;
     
      }
    }
    
    p {
      margin-bottom: 16px;
    }
    
    blockquote {
      margin-bottom: 16px;
    }
    
    strong {
      font-family: 'ITC Kabel W01 Bold';
    }
  }
}

code {
  font-family: monospace;
  font-size: 0.85em;
}

.album_section_fields {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

// ----- subscribers
.subscriber {
  margin-bottom: 20px;
}

// ------ static pages
#about-camera {
	
}

#ginsburge_on_sale{
  p { margin-bottom: 8px;}
}

// ------ admin links
.admin_links.new {
  margin-top: 20px;
  a {color: white;}
  background-color: red;
  padding: 4px;
  text-align: center;
  @include border-radius(10px);
}

// ------ forms
.simple_form label {  
  float: left;  
  width: 100px;  
  text-align: right;  
  margin: 2px 10px;  
}  
  
.simple_form div.input {  
  margin-bottom: 10px;  
}  

  
.simple_form div.boolean, .simple_form input[type='submit'] {  
  margin-left: 120px;  
}  

.simple_form div.boolean label {  
  float: none;  
  margin: 0;  
}

// ------
.page {
  .section {
    clear: both;
    // top left bottom right
    margin: 0px 40px 2em 40px;
    
    img {
      float: right;  
      //height: 180px;
    }
    
    ul {
      list-style-type: disc; 
      margin-left: 25px;
      margin-right: 25px;
/*      background-color: #fff*/
    }    
  }
  
  .footer {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 0px 0px 0.6em 0px;
    margin-top: 0.6em;
    line-height: 1em;
   // line-height: 1.1em;
    font-family:'Neuland W01 Black';
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.4em;
    padding: 0px 0px 0.4em 0px;
    color: #666;
    font-family: 'ITC Kabel W01 Bold';
  }
  
  strong {
    font-family: 'ITC Kabel W01 Bold';
  }
}
strong {
  font-family: 'ITC Kabel W01 Bold';
}

span.telephone {
  font-weight: bold;
  font-family:'ITC Kabel W01 Bold';
}

span.copyright {
  font-weight: bold;
  font-family:'ITC Kabel W01 Bold';
}

// ------ map
#subway_map img {
    margin-left: 60px;
}

// ------ sitemap
#sitemap {
  ul { 
	width: $sidebar_width;
	margin-bottom: 30px; }
}
// misc
a.cancel {
  font-size: 40px;
  background-color: #FF0033;
  color: white;
  border-radius: 10px;
 	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
           box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
/*  font-weight: bold;*/
}
#subscribers_div{
	padding: 20px 0 0 20px;
}
#user_nav {
	margin-left: 80px;
}
#sign-in-form {
	margin-left: 80px;
	margin-top: 80px;
}